[Unit]
Description=Kitsu Moderator Bot

After=network.target

[Service]
Environment=NODE_VERSION=16
WorkingDirectory=/home/<username>/Documents/GitHub/kitsu-moderator-bot
Type=simple
ExecStartPre=/usr/bin/git pull
ExecStartPre=/home/<username>/.config/nvm/nvm-exec npm install 
ExecStart=/home/<username>/.config/nvm/nvm-exec npm start
Restart=on-failure
RestartSec=60
KillMode=process

[Install]
WantedBy=multi-user.target